  *  {
    box-sizing: border-box;
  }
/* Index Page  */

body {
  background: url("../Assets/bodyback.png");
   background-size: cover;
  -moz-background-size: cover;
  z-index: -99;
  width: 100%;
  height: 100vh; 
}

h1 {
    font-family: monoton; 
    animation: mymove 3s infinite;
    color: rgb(241, 11, 11);
   
  } 
  
  .navbar-fixed {
    margin-top: 0;
    padding-top: 0;
  }

/* End Navigation

/* Start of Icon(Index) Area */

.svcTitle {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
 }

 #svcStuff {
  margin-top: 40px;
  height: 200px;
}

#svcBlurb {
  font-size: 16px;
}

.cardImg1:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
  z-index: 3;
}
.cardImg2:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
  z-index: 3;
}

.cardImg3:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
  z-index: 3;
}

.cardImg4:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
  z-index: 3;
}

/* Faq Page */

.main-container{
  max-width: 60%;
  margin: 0 auto;
  padding: 70px 0 20px;
  width: 100%;
  
} 

#qMark {
  color: red
}

.collapsible-header {
  font-size: 20px;
}

.collapsible-body {
  font-size: 18px;
  color: blue
}
/* Start of the footer */

.footer-copyright {
  background: url("../Assets/bodyback.png");
}

#ftrIcon {
  font-size: 22px;
  padding: 2rem;
  color: red;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

#ftrIcon:hover {
  color: rgb(131, 145, 190);
}

/* End of the footer */

@media screen and (max-width: 1240px) {
  h6 {
    font-size: 20px;
  }
  h5 {
    font-size: 18px;
  }
  p {
    font-size: 16px;
  }
  h1 {
    font-size: 3.6rem;
  }  

}
@media screen and (max-width: 992px) {
  h6 {
    font-size: 16px;
  }
  h5 {
    font-size: 14px;
  }
  p {
    font-size: 12px;
  }
  h1 {
    font-size: 3.0rem;
  }  

}
@media screen and (max-width: 660px) {
  h6 {
    font-size: 12px;
  }
  h5 {
    font-size: 10px;
  }
  p {
    font-size: 8px;
    padding: 2.5px;
  }
  h1 {
    font-size: 2.4rem;
  }  
 
  
}

