  *  {
    box-sizing: border-box;
  }

body {
  background: url("../Assets/bodyback.png");
   background-size: cover;
  -moz-background-size: cover;
  z-index: -99;
  width: 100%;
  height: 100vh; 

}
h1 {
    font-family: monoton; 
    animation: mymove 3s infinite;
    color: rgb(241, 11, 11);
   
  }
  @keyframes mymove {
    50% {text-shadow: 10px 20px 30px rgb(0, 255, 234);}
  }

  h5 {
      margin-left: 15px;
      margin-top: 25px;
      margin-right: 15px;
      margin-bottom: 35px;
      color: black;

  }


  #contents{
    margin-left: 200px;
  }
  
    
  #landingImg1:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
    z-index: 3;
  }
  #landingImg2:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
    z-index: 3;
  }

  #landingImg3:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
    z-index: 3;
  }
  #startBtn {
    font-weight: bold;
    
  }

  #infoBox{
    background: rgb(140, 136, 148);
  }
    

/* here is the css for the navbar */

.header_area .main-menu  .navbar-brand{
  padding: 5px 1rem 0 1rem;
}

.header_area .main-menu {
  padding: 1rem 6rem;
}
.navbar{
  margin-top: -15px;
}

.header_area .main-menu .nav-item .nav-link{
  font: normal ;
  text-transform: uppercase;
  padding: 1.2rem;
  /* color: rgb(109, 109, 187); */
  color: whitesmoke;
}

.header_area .main-menu .navbar-nav .active a{
  background: red;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover{
  color: red;
  
} 
/* End Navigation

/* Start of the footer */
footer.footer-area .social h5{
  font: normal 500 23px/30px;
}

footer.footer-area .social a > i{
  font-size: 22px;
  padding: 2rem;
  color: red;
  padding-top: 5px;
}

footer.footer-area .social a:hover >i{
  color: rgb(131, 145, 190);
}

/* End of the footer */

.services{
  border: 2px solid white;
  background: white;
}

.services:hover{
  border: 2px solid red;
  border-radius: 5px;
}

.about-image{
  margin-left: 60px;
}

.about-area{
  margin-top: 30px;
}

#hr{
  border-bottom: 5px solid #ddd;
}