body {
  background-image: url('css/background.jpg');
  background-size: cover;
}

#sidebar, #relImages {
    float: left;
    width: 25%;
    height: 100%;
    background-color: rgb(99, 203, 211);
  }

  #mainArea{
    float: left;
    width: 50%;
    height: 100%;

    border: 1px solid black;
     outline-style: inset;
     outline-color: yellow;
    background-color: rgb(245, 244, 190);

  }

  #header, #results {
    font-family: 'Shadows Into Light', cursive;
  }

  #subtitle {
      font-family: 'Righteous', cursive;
      padding: 0;
      margin: 0 auto;
  }


  header, #title {
    margin-bottom: 10px;
    font-family: 'Monoton', cursive;
    animation: mymove 3s infinite;
}

@keyframes mymove {
  50% {text-shadow: 10px 20px 30px rgb(18, 201, 233);}
}

#blankbox {
    width: 100%;
    margin: 0 auto;
    background-color: rgb(160, 231, 219);
    height: 3px;
}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .column-desc, .column-descImg {
    float: left;
    width: 50%;
  }


  #events-image{
    height: 120px;
    width: 120px;
    flex-direction: column;
    background-color: whitesmoke;
    border: 2px solid white;
    border-radius: 5px;

  }
  #events-image:hover{
    border: 2px solid darkgray;
  }

  #events-image:hover
{
        box-shadow:
                1px 1px #53a7ea,
                2px 2px #53a7ea,
                3px 3px #53a7ea;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
}

  #return, #return2 {
      padding: 20px;
  }

  .button {
      text-align: center;
  }

  #submit {
    text-align: center;
    width: 110px;
    height: 50px;
    font-size: 17px;
    font-family: 'Monoton', cursive;
    color: whitesmoke;
    
  }

 