body {
  background-image: url(./Assets/bodyback.png);
  background-size: cover;
}

 .addInfo {
    position:fixed;
    border: 3px solid white;
    background-color: #3f51b5;
    color: #ffffff;
    text-align: center;
    width: 25%;
    
}
.addInfo:hover{
    border: 2px solid rgb(255, 73, 73);
}

.container {
  width: 90%;
}
.row {
  margin-top: 2.5%;
}
#sidebar, #relImages {
    float: left;
    width: 25%;
    height: 100%;
    background-color: #3f51b5;
    color: #ffffff;
    margin: 0 1%;
  }

  #mainArea{
    /* float: left; */
    width: 100%;
    /* height: 290px; */
    border: 5px solid white;
    border-radius: 5px;
    background-color:whitesmoke;
    margin-top: 5px;
    text-align: center;
  }

  #mainArea:hover{
    border: 2px solid rgb(255, 73, 73);
  }
  #main-area{
    /* width: 55%; */
    /* margin-left: 20px; */
  
  }

  

  #header, #results {
    font-family: sans-serif;
  }

  #subtitle {
      font-family: 'Righteous', cursive;
      padding: 0;
      margin: 0 auto;
      margin-top: 25px;
  }


  /* header, #title {
    margin-bottom: 10px;
    font-family: 'Monoton', cursive;
    animation: mymove 3s infinite;
}

@keyframes mymove {
  50% {text-shadow: 10px 20px 30px rgb(18, 201, 233);}
} */

#blankbox {
    width: 100%;
    margin: 0 auto;
    background-color: #3f51b5;
    height: 3px;
} 
  
  /* Clear floats after the columns */
 
  .clearBtn {
    background-color: #3f51b5;
    color: white;
    border-radius: 8px;
    height: 25px;
  }
h4 {
  margin: 2.5%;
}
p {
  margin: 2.5%
}
  .column-desc, .column-descImg {
    float: left;
    width: 50%;
  }

  #map-image {
    width: 95%;
    margin: 2.5%;

  } 
  #events-image{
    width: 80%;
    flex-direction: column;
    background-color: whitesmoke;
    border: 2px solid white;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 5px;

  }
  #events-image:hover{
    border: 2px solid darkgray;
  }

  #events-image:hover
{
        box-shadow:
                1px 1px #3f51b5
                2px 2px #3f51b5,
                3px 3px #3f51b5;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
}

  #return, #return2 {
      padding: 20px;
  }

  .button {
      text-align: center;
  }

  #icon1, #icon2 {
    color: rgb(255, 73, 73);
    font-size: 200%;
  }
  
  #submit {
    text-align: center;
    width: 110px;
    height: 50px;
    font-size: 17px;
    font-family: 'Monoton', cursive;
    color: whitesmoke;
    background-attachment: rgb(255, 73, 73);
    
  }

  .datepicker-table td.is-today {
    color: #3f51b5;
  }

  .datepicker-date-display {
    background-color: #3f51b5;
    color: #ffffff;
  }
  .datepicker-table td.is-selected {
    background-color: red;
  }
  .datepicker-cancel, .datepicker-done {
    color: rgb(63, 81, 181);
    font-weight: bold;
  }
 
  /* .datepicker-table td.is-selected{
    background-color: red;
  } */



  .moreInfoBtn{
    margin-left: 10px;
    margin-top: -20px;
    background-color: rgb(255, 73, 73);
    color: white;
    border-radius: 8px;
    height: 90%;
    margin-bottom: 10%;
  }

 .name{
    margin-left: 10px;
    margin-top: 0px;
  }

  .data{
    margin-left: 10px;
    margin-top: -12px;
  }

  .venue{
    margin-left: 10px;
    margin-top: -8px;
  }

  /* Start of the footer */

.footer-copyright {
  background: url("../Assets/bodyback.png");
}
#searchList {
  text-align: center;
}
.full {
  width: 95%;
  margin: 1%;
  background-color: whitesmoke;
  color: black;
  height: 90%;
}
.full:hover {
  background-color: rgb(255, 73, 73);
  color: white;
  height: 95%;
}
#ftrIcon {
  font-size: 22px;
  padding: 2rem;
  color: rgb(255, 73, 73);
  padding-top: 5px;
}

#ftrIcon:hover {
  color: rgb(131, 145, 190);
}

.page-footer{
  margin-top: 140px;
}

/* End of the footer */

@media screen and (max-width: 1240px) {
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 18px;
  }
  p {
    font-size: 16px;
  }
  .full {
    font-size: 16px;
  }
  .moreInfoBtn {
    font-size: 16px;
  }
}
@media screen and (max-width: 992px) {
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 14px;
  }
  p {
    font-size: 12px;
  }
  .full {
    font-size: 12px;
    
  }
  .moreInfoBtn {
    font-size: 12px;
  }

}
@media screen and (max-width: 660px) {
  h4 {
    font-size: 12px;
  }
  h5 {
    font-size: 10px;
  }
  p {
    font-size: 8px;
    padding: 2.5px;
  }
  .full {
    font-size: 8px;
    margin: .25%;
  }
  .moreInfoBtn {
    font-size: 8px;
    margin: .25%;
  }
  
}

/* clear history */
#clearHistory{
  border-radius: 5px;
  width: 60px;
  margin-left: 5px;
  margin-bottom: 15px;
}
#clearHistory:hover{
  background-color: red;
  color: white;
  
}